body {
  align-items: center;
  background-color: #B2C5D6;
  color: #4B4443;
  display: flex;
  font-family: Tahoma, Geneva, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

input {
  display: none;
}

label {
  cursor: pointer;
  display: block;
  font-size: 60px;
  margin: 40px 0;
  padding-left: 130px;
  position: relative;
}

label:before,
label:after {
  content: '';
  display: block;
  position: absolute;
  transition: all .25s ease;
}

label:before {
  background-color: #A1A1A1;
  border-radius: 10px;
  bottom: 5px;
  height: 56px;
  left: 0;
  width: 110px;
}

label:after {
  background-color: #F5F5F5;
  border-radius: 8px;
  height: 50px;
  left: 3px;
  top: 14px;
  width: 50px;
}

input:checked + label:before {
  background-color: #95C0D8;
}

input:checked + label:after {
  background-color: #177DB2;
  left: 56px;
}

footer {
  bottom: 8px;
  position: absolute;
}

a {
  color: #7392B7;
  text-decoration: none;
}
